$topnav-background-color: #000000;
:host {
    .navbar {
        background-color: $topnav-background-color;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: yellow;
                border-bottom: yellow 2px solid;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    .router-link-active{
        border-bottom: yellow 2px solid; 
    }
    @media(max-width:990px) {
        .navbar{
            background-color: $topnav-background-color;
            position: relative;
        }
    }
        
    .scrolled{
        background: rgba(0, 0, 0, 0.78);
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
