<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="#">Denatal Project</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/patient/blog" [routerLinkActive]="['router-link-active']" class="nav-link js-scroll-trigger">
                        <i class="socicon-blogger"></i> &nbsp;Blog
                    </a>
                </li>
                <span class="divide d-none d-md-block" style="color:#fff;margin-top:7px">|</span>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link js-scroll-trigger" ngbDropdownToggle>
                        <i class="fa fa-user"></i> &nbsp; {{name | uppercase}}
                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-left animated zoomInDown" ngbDropdownMenu style="float:left;">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item">
                            <i class="fa fa-cogs"></i> &nbsp;setting
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>