html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, gheader, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
}
.wrap{
	width: 60%;
	margin: 0 auto;
}
.header-bg{
    background:#fff;
	border-top:10px solid #E44A4A;
}
.header{
	padding: 2%;
}
/*---start-nav---*/
.nav{
	float: left;
}
.nav ul li
{
    float:left;
	padding: 43px 25px;
}
.nav ul li.a
{
	float:left;
	padding: 43px 25px 43px 0px;
}
.nav ul li a
{
	font-size: 1.3em;
	color: #A8A8A8;
	-webkit-text-stroke:1px;
	display: block;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}
.nav ul li a:hover
{
	color:#717171;
}
.nav ul li a.router-link-active {
	border-bottom: 3px solid #E44A4A;	
	color:#717171;
}
/*---end_nav---*/
/* start f_nav1 */
.f_nav1{
	margin-top: 2%;
}
.f_nav1 li{
	display: inline-block;
}

.f_nav1 li p{
	display:block;
	color:#333;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav1 li p > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:4px;
	margin-bottom: 4px;
}

.f_nav1 li p span{
	padding-left:4px;
}
.f_nav1 li a{
	display:block;
	color:#333;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav1 li a > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:4px;
	margin-bottom: 6px;
}

.f_nav1 li.active a{
	background: #ffffff;
	color: #8F33C4;
}
.f_nav1 a:hover{
	 color: #8F33C4;
}
.f_nav1 li a span{
	padding-left:4px;
}
.f_nav1 li a:hover{
	color: #E44A4A;
}
.f_nav1 li p > i.icon1{
	background-position:0px -21px;
}

.f_nav1 li a > i.icon2{
	background-position: -44px -20px;
}
.f_nav1 li a:hover > i.icon2{
	background-position:-44px -1px;
}
.f_nav1 li a > i.icon3 {
	background-position: -78px -21px;
}
.f_nav1 li a:hover > i.icon3{
	background-position:-78px 0px;
}
/* start f_nav2 */
.f_nav2{
	margin-top: 1%;
}
.f_nav2 li{
	display: inline-block;
}

.f_nav2 li.p span{
	display: inline-block;
	display:block;
	color:#333;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav2 li p{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav2 li p > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 4px;	
}

.f_nav2 li.a span{
	display: inline-block;
	display:block;
	color:#333;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav2 li a{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;
}
.f_nav2 li a > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 6px;	
}

.f_nav2 li.active a{
	background: #ffffff;
	color: #8F33C4;
}
.f_nav2 a.a:hover{
	 color: #fff;
}
.f_nav2 a:hover{
	 color: #8F33C4;
}
.f_nav2 li a{

}
.f_nav2 li a:hover{
	color: #7A3737;
}
.f_nav2 li p > i.icon1{
	background-position:0px -21px;
}
.f_nav2 li a > i.icon2{
	background-position: -38px -20px;
}
.f_nav2 li a:hover > i.icon2{
	background-position:-38px 0px;
}
.f_nav2 li a > i.icon3 {
	background-position: -79px -21px;
}
.f_nav2 li a:hover > i.icon3{
	background-position:-79px 0px;
}
/* start f_nav3 */
.f_nav3{
	margin-top: 1%;
	margin-bottom: 2.8%;
}
.f_nav3 li{
	display: inline-block;
}

.f_nav3 li p{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
	 color: #fff;
}
.f_nav3 li p > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 4px;
}

.f_nav3 li a{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
}
.f_nav3 a.a:hover{
	 color: #fff;
}
.f_nav3 li a > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 6px;
}

.f_nav3 li.active a{
	background: #ffffff;
	color: #E44A4A;
}
.f_nav3 li a:hover{
	color:#E44A4A;
}
.f_nav3 li p > i.icon1{
	background-position:0px -21px;
}
.f_nav3 li a > i.icon2{
	background-position: -34px -20px;
}
.f_nav3 li a:hover > i.icon2{
	background-position:-34px 1px;
}
.f_nav3 li a > i.icon3 {
	background-position: -79px -21px;
}
.f_nav3 li a:hover > i.icon3{
	background-position:-79px 0px;
}
/* start f_nav4 */
.f_nav4{
	margin-top: 1%;
	margin-bottom: 2.8%;
}
.f_nav4 li{
	display: inline-block;
}
.f_nav4 li p{
	display:block;
	color:#777;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
}
.f_nav4 li p > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 4px;
}
.f_nav4 li a{
	display:block;
	color:#777;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
}
.f_nav4 a.a:hover{
	 color: #777;
}
.f_nav4 li a > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 6px;
}

.f_nav4 li.active a{
	background: #ffffff;
	color: #E44A4A;
}
.f_nav4 li a:hover{
	color:#B81B1B;
}
.f_nav4 li p > i.icon1{
	background-position:0px -21px;
}
.f_nav4 li a > i.icon2{
	background-position: -35px -20px;
}
.f_nav4 li a:hover > i.icon2{
	background-position:-35px 0px;
}
.f_nav4 li a > i.icon3 {
	background-position: -79px -21px;
}
.f_nav4 li a:hover > i.icon3{
	background-position:-79px 0px;
}
/* start f_nav5 */
.f_nav5{
	margin-top: 1%;
	margin-bottom: 2.8%;
}
.f_nav5 li{
	display: inline-block;
}
.f_nav5 li p{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
}
.f_nav5 li p > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 4px;
}
.f_nav5 li a{
	display:block;
	color:#fff;
	font-size: 1em;
	text-transform:capitalize;
	margin-right: 30PX;	
}
.f_nav5 a.a:hover{
	 color: #fff;
}
.f_nav5 li a > i{
	width: 19px;
	height: 19px;
	display:inline-block;
	vertical-align: middle;
	transition: none;
	margin: 0 auto;
	color: #333;
	padding-left:10px;
	margin-bottom: 6px;
}

.f_nav5 li.active a{
	background: #ffffff;
	color: #8F33C4;
}
.f_nav5 a:hover{
	 color: #8F33C4;
}
.f_nav5 li a{
}
.f_nav5 li a:hover{
	color: #7A3737;
}
.f_nav5 li p > i.icon1{
	background-position:0px -21px;
}
.f_nav5 li a > i.icon2{
	background-position: -38px -20px;
}
.f_nav5 li a:hover > i.icon2{
	background-position:-38px 0px;
}
.f_nav5 li a > i.icon3 {
	background-position: -79px -21px;
}
.f_nav5 li a:hover > i.icon3{
	background-position:-79px 0px;
}
/*---end-form---*/
.grid{
	width: 55%;
}
.grid p{
	color:#A8A8A8;
	line-height: 1.6em;
	font-size: 1.5em;
}
.logo{
	padding:4em 0 2em;
}
.banner {
	margin-top: 5em;
}
.flex-caption {
	font-size: 13px;
	line-height: 17px;
}
.flex-caption {
	top:60%;
}
.flex-caption {
	margin: 0px auto;
	position: absolute;
	color: #FFF;
	line-height: 20px;
	z-index: 100;
	text-align: center;
	left: 28%;
	top: 81%;
	width: 40%;
}
.flex-caption p {
	font-size: 1.7em;
	line-height: 1.4em;
	color: #FFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.41);
	text-align: center;
	padding-top: 1.5em;
}
.flex-caption p a {
	color: #fff;
	padding: 12px 54px;
	border: 2px solid #fff;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.flex-caption p a:hover{
	border:3px solid #E44A4A;
	color:#E44A4A;
} 
/*start-grid1*/
.top-bg1 {
	background: #fff;
	border-top: 1px solid #eee;
	margin-top: 3%;
}
.top-bg{
	background:#fff;
}
.top-cont {
	padding: 4% 0 10%;
}
.top-cont h2{
	font-size: 1.7em;
	color: #747474;
	text-shadow: 0 1px rgba(0, 0, 0, 0.41);
	text-align: left;
}
.top-cont p{
	font-size: 0.8755em;
	color: #747474;
	text-align: left;
	padding-top: 1em;
	line-height: 1.9em;
}
.top-cont h6{
	font-size: 0.8755em;
	color: #747474;
	text-align: left;
	padding-top: 3.4em;
}
.top-cont h6 a{
	padding: 17px 40px;
	border:2px solid #747474;
	color:#747474;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.top-cont h6 a:hover{
	border:2px solid #E44A4A;
	color:#E44A4A;
}
/*start-grid2*/
.middle-bg{
	background: #E44A4A;
}
.middle-cont {
	padding: 7% 0;
}
.middle-cont p{
	font-size: 1.3em;
	color: #fff;
	text-align: left;
	padding-top: 0.6em;
	line-height: 1.9em;
	font-style: italic;
}
.middle-cont h6{
	font-size: 0.8755em;
	color: #fff;
	text-align: left;
	padding-top: 1.4em;
}
.middle-cont h6 a{
	color:#fff;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.middle-cont h6 a:hover{
	color:#BBBBBB;
}
/*start-grid3*/
.bottom-bg{
	background: #354A5F;	
}
.bottom-cont {
	padding: 7% 0;
}
/*start-grid4*/
.footer-top-bg{
	background:#fff;
}
.footer-top {
	padding: 7% 0;
}
/*start-grid2*/
.footer-middle-bg{
	background: #E44A4A;
}
.footer-middle {
	padding: 3% 0 7%;
}
.footer-middle p{
	font-size: 0.8755em;
	color: #fff;
	text-align: left;
	padding-top: 2em;
	line-height: 1.9em;
}
.footer-middle h6{
	font-size: 0.8755em;
	color: #fff;
	text-align: left;
	padding-top: 2.4em;
}
.footer-middle h6 a{
	color:#fff;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.footer-middle h6 a:hover{
	color:#BBBBBB;
}
.footer-bg{
	background:#fff;
}
.social-icons {
	float:right;
}
.social-icons li {
	display:inline-block;
	width: 55px;
	height: 55px;
	cursor:pointer;
	margin-right: 4px;
	
}

.footer-bottom {
	padding: 2em 0;
}
.copy-right p
{
	font-family: 'Open Sans', sans-serif;
	font-size:0.92355em;
	float:left;
	padding-top:2.3%;
	color:#585858;

}
.copy-right p a
{
	color:#fc515c;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.copy-right p a:hover
{
	color: #585858;
}
.slider {
	margin-top: 5em;
	margin-bottom: -3em;
}
/***Contact*/
.contact{
	padding:4% 0%;
}
.map{
	margin: 2% 0;
}
.col{
	display: block;
}
.contact-form{
	position:relative;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span label{
	color: #747474;
	display: block;
	font-size: 1em;
	padding-bottom: 5px;
}
.contact-form input[type="text"], .contact-form textarea {
	font-family: 'Open Sans', sans-serif;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	color: rgba(85, 81, 81, 0.84);
	padding: 8px;
	display: block;
	width: 98%;
	outline: none;
	-webkit-appearance: none;
	text-transform: capitalize;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	padding: 17px 36px;
	border: 2px solid #A2A2A2;
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	color: #747474;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
	outline: none;
	background: #fff;
	margin-top: 15px;
}
.contact-form input[type="submit"]:hover{
	border: 2px solid  #E44A4A;
	color: #E44A4A;
}
.contact_info h2 {
	font-size: 2em;
	text-transform: capitalize;
	color:#747474;
}
.content h2 {
	font-size: 2em;
	text-transform: capitalize;
	color:#747474;
}
.ask h2{
	font-size: 1.3em;
	color: #747474;
	text-shadow: 0 1px rgba(0, 0, 0, 0.41);
	text-align: left;
	padding-top: 1em;
}
.ask p{
	font-size: 0.8755em;
	color: #747474;
	text-align: left;
	padding-top: 1em;
	line-height: 1.9em;
}

/*---start-media-queries---*/
@media only screen and (max-width: 1440px){
	.wrap{
		width:67%;
	}
	
}
@media only screen and (max-width: 1366px){
	.wrap{
		width:71%;
	}
}
@media only screen and (max-width: 1280px){
	.wrap{
		width: 75%;
	}
}
@media only screen and (max-width: 1024px){
	.wrap{
		width: 95%;
	}
}
@media only screen and (max-width: 800px){
	.wrap{
		width: 95%;
	}
	.nav ul li a {
		font-size: 1em;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 2em 0 1em;
	}
	.grid p {
		font-size: 1.2em;
	}
	.top-cont h2 {
		font-size: 1.3em;
	}
	.top-cont h6 a {
		padding: 10px 15px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 1em;
	}
	iframe {
		width: 735px;
	}
	.social-icons {
		width: 33%;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.social-icons {
		width: 70%;
		text-align: center;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 12px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 1em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1.3em;
	}
	.top-cont h6 a {
		padding: 10px 15px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 1em;
	}
	iframe {
		width: 584px;
	}
	.social-icons {
		width: 70%;
		text-align: center;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 97%;
	}
}
@media only screen and (max-width: 480px){
	.wrap{
		width:95%;
	}
	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 6px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 0.8em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1em;
	}
	.top-cont h6 a {
		padding: 5px 5px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 0.8em;
	}
	iframe {
		width: 431px;
		height: 215px;
	}
	.social-icons {
		width: 79%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 96%;
	}
	.f_nav1 li a {
		font-size: 0.8em;
	}
	.f_nav2 li a {
		font-size: 0.8em;
	}
	.f_nav3 li a {
		font-size: 0.8em;
	}
	.f_nav4 li a {
		font-size: 0.8em;
	}
	.f_nav5 li a {
		font-size: 0.8em;
	}
	.top-cont p {
		font-size: 0.8em;
		padding-top: 0.6em;
	}
}
@media only screen and (max-width: 320px){
	.wrap{
		width:95%;
	}
	.form {
		display: none;
	}
	.nav ul li a {
		font-size: 0.9em;
	}
	.nav ul li {
		padding: 43px 6px;
	}
	.form input[type="text"] {
		width: 75%;
	}
	.logo {
		padding: 0em 0 1em;
	}
	.grid p {
		font-size: 0.8em;
	}
	.slider {
		margin-top: 3em;
	}
	.top-cont h2 {
		font-size: 1em;
	}
	.top-cont h6 a {
		padding: 5px 5px;
	}
	.f_nav1 {
		margin-top: 3%;
	}
	.top-cont h6 {
		padding-top: 2.4em;
	}
	.middle-cont p {
		font-size: 0.8em;
	}
	iframe {
		width: 280px;
		height: 140px;
	}
	.social-icons {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.contact_info h2 {
		font-size: 1.3em;
	}
	.content h2 {
		font-size: 1.3em;
	}
	.contact-form input[type="submit"] {
		padding: 10px 18px;
	}
	.contact-form span label {
		font-size: 0.9em;
	}
	.camera_caption {
		top: 33%;
	}
	.footer-bottom p {
		float: none;
		text-align: center;
	}
	.contact-form input[type="text"], .contact-form textarea {
		width: 94%;
	}
	.f_nav1 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav2 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav3 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav4 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.f_nav5 li a {
		font-size: 0.8em;
		margin-right: 6PX;
	}
	.top-cont p {
		font-size: 0.8em;
		padding-top: 0.6em;
	}
}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
#camera_wrap2{
	margin-bottom: 0px;
}
.camera_wrap {
	display: none;
	position: relative;
	z-index: 0;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
	margin-bottom: 0px;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	display:none;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	display: block;
	position: absolute;
	width: 45%;
	left: 28%;
	top: 41%;
	text-align: center;
}
.camera_caption > div {
	text-transform: capitalize;
	font-size: 1.6em;
	line-height: 1.5em;
}
.camera_caption > div h2{
	padding-top: 1em;
}
.camera_caption > div p a{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	color: #fff;
	padding: 10px 40px;
	border: 2px solid #fff;
	 -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.camera_caption > div p a:hover{
	color: #E44A4A;
	border: 2px solid #E44A4A;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
	top:-40px;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	height: 8px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	left:0.5%;
	width: 40px;
	z-index: 2;
}
.camera_prev {
	left: 97%;
}
.camera_prev > span {
	display: block;
	height: 40px;
	width: 40px;
}
.camera_next {
	right: 0;
}
.camera_next > span {
	display: block;
	height: 40px;
	width: 40px;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	display: block;
	height: 40px;
	width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-indent: -9999px;
	width: 16px;
}
.camera_thumbs_cont {
	display: none;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/

.camera_caption {
	color: #fff;
}
.camera_caption > div {
/*	background: #000;
	background: rgba(0, 0, 0, 0.8);
*/
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #434648;
}
.camera_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_commands, .camera_thumbs_cont {
	background: #272A2D;
}
 .camera_prev, .camera_next{
 	background: #EA5A4B;
 }
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid #27262B;
}
/*AMBER SKIN*/
.camera_amber_skin .camera_prevThumbs div {
	background-position: -160px -160px;
}
.camera_amber_skin .camera_nextThumbs div {
	background-position: -190px -160px;
}
.camera_amber_skin .camera_prev > span {
	background-position: 0 -160px;
}
.camera_amber_skin .camera_next > span {
	background-position: -40px -160px;
}
.camera_amber_skin .camera_commands > .camera_play {
	background-position: -80px -160px;
}
.camera_amber_skin .camera_commands > .camera_stop {
	background-position: -120px -160px;
}
/*ASH SKIN*/
.camera_ash_skin .camera_prevThumbs div {
	background-position: -160px -200px;
}
.camera_ash_skin .camera_nextThumbs div {
	background-position: -190px -200px;
}
.camera_ash_skin .camera_prev > span {
	background-position: 0 -200px;
}
.camera_ash_skin .camera_next > span {
	background-position: -40px -200px;
}
.camera_ash_skin .camera_commands > .camera_play {
	background-position: -80px -200px;
}
.camera_ash_skin .camera_commands > .camera_stop {
	background-position: -120px -200px;
}
/*AZURE SKIN*/
.camera_azure_skin .camera_prevThumbs div {
	background-position: -160px -240px;
}
.camera_azure_skin .camera_nextThumbs div {
	background-position: -190px -240px;
}
.camera_azure_skin .camera_prev > span {
	background-position: 0 -240px;
}
.camera_azure_skin .camera_next > span {
	background-position: -40px -240px;
}
.camera_azure_skin .camera_commands > .camera_play {
	background-position: -80px -240px;
}
.camera_azure_skin .camera_commands > .camera_stop {
	background-position: -120px -240px;
}
/*BEIGE SKIN*/
.camera_beige_skin .camera_prevThumbs div {
	background-position: -160px -120px;
}
.camera_beige_skin .camera_nextThumbs div {
	background-position: -190px -120px;
}
.camera_beige_skin .camera_prev > span {
	background-position: 0 -120px;
}
.camera_beige_skin .camera_next > span {
	background-position: -40px -120px;
}
.camera_beige_skin .camera_commands > .camera_play {
	background-position: -80px -120px;
}
.camera_beige_skin .camera_commands > .camera_stop {
	background-position: -120px -120px;
}
/*BLACK SKIN*/
.camera_black_skin .camera_prevThumbs div {
	background-position: -160px -40px;
}
.camera_black_skin .camera_nextThumbs div {
	background-position: -190px -40px;
}
.camera_black_skin .camera_prev > span {
	background-position: 0 -40px;
}
.camera_black_skin .camera_next > span {
	background-position: -40px -40px;
}
.camera_black_skin .camera_commands > .camera_play {
	background-position: -80px -40px;
}
.camera_black_skin .camera_commands > .camera_stop {
	background-position: -120px -40px;
}
/*BLUE SKIN*/
.camera_blue_skin .camera_prevThumbs div {
	background-position: -160px -280px;
}
.camera_blue_skin .camera_nextThumbs div {
	background-position: -190px -280px;
}
.camera_blue_skin .camera_prev > span {
	background-position: 0 -280px;
}
.camera_blue_skin .camera_next > span {
	background-position: -40px -280px;
}
.camera_blue_skin .camera_commands > .camera_play {
	background-position: -80px -280px;
}
.camera_blue_skin .camera_commands > .camera_stop {
	background-position: -120px -280px;
}
/*BROWN SKIN*/
.camera_brown_skin .camera_prevThumbs div {
	background-position: -160px -320px;
}
.camera_brown_skin .camera_nextThumbs div {
	background-position: -190px -320px;
}
.camera_brown_skin .camera_prev > span {
	background-position: 0 -320px;
}
.camera_brown_skin .camera_next > span {
	background-position: -40px -320px;
}
.camera_brown_skin .camera_commands > .camera_play {
	background-position: -80px -320px;
}
.camera_brown_skin .camera_commands > .camera_stop {
	background-position: -120px -320px;
}
/*BURGUNDY SKIN*/
.camera_burgundy_skin .camera_prevThumbs div {
	background-position: -160px -360px;
}
.camera_burgundy_skin .camera_nextThumbs div {
	background-position: -190px -360px;
}
.camera_burgundy_skin .camera_prev > span {
	background-position: 0 -360px;
}
.camera_burgundy_skin .camera_next > span {
	background-position: -40px -360px;
}
.camera_burgundy_skin .camera_commands > .camera_play {
	background-position: -80px -360px;
}
.camera_burgundy_skin .camera_commands > .camera_stop {
	background-position: -120px -360px;
}
/*CHARCOAL SKIN*/
.camera_charcoal_skin .camera_prevThumbs div {
	background-position: -160px -400px;
}
.camera_charcoal_skin .camera_nextThumbs div {
	background-position: -190px -400px;
}
.camera_charcoal_skin .camera_prev > span {
	background-position: 0 -400px;
}
.camera_charcoal_skin .camera_next > span {
	background-position: -40px -400px;
}
.camera_charcoal_skin .camera_commands > .camera_play {
	background-position: -80px -400px;
}
.camera_charcoal_skin .camera_commands > .camera_stop {
	background-position: -120px -400px;
}
/*CHOCOLATE SKIN*/
.camera_chocolate_skin .camera_prevThumbs div {
	background-position: -160px -440px;
}
.camera_chocolate_skin .camera_nextThumbs div {
	background-position: -190px -440px;
}
.camera_chocolate_skin .camera_prev > span {
	background-position: 0 -440px;
}
.camera_chocolate_skin .camera_next > span {
	background-position: -40px -440px;
}
.camera_chocolate_skin .camera_commands > .camera_play {
	background-position: -80px -440px;
}
.camera_chocolate_skin .camera_commands > .camera_stop {
	background-position: -120px -440px	;
}
/*COFFEE SKIN*/
.camera_coffee_skin .camera_prevThumbs div {
	background-position: -160px -480px;
}
.camera_coffee_skin .camera_nextThumbs div {
	background-position: -190px -480px;
}
.camera_coffee_skin .camera_prev > span {
	background-position: 0 -480px;
}
.camera_coffee_skin .camera_next > span {
	background-position: -40px -480px;
}
.camera_coffee_skin .camera_commands > .camera_play {
	background-position: -80px -480px;
}
.camera_coffee_skin .camera_commands > .camera_stop {
	background-position: -120px -480px	;
}
/*CYAN SKIN*/
.camera_cyan_skin .camera_prevThumbs div {
	background-position: -160px -520px;
}
.camera_cyan_skin .camera_nextThumbs div {
	background-position: -190px -520px;
}
.camera_cyan_skin .camera_prev > span {
	background-position: 0 -520px;
}
.camera_cyan_skin .camera_next > span {
	background-position: -40px -520px;
}
.camera_cyan_skin .camera_commands > .camera_play {
	background-position: -80px -520px;
}
.camera_cyan_skin .camera_commands > .camera_stop {
	background-position: -120px -520px	;
}
/*FUCHSIA SKIN*/
.camera_fuchsia_skin .camera_prevThumbs div {
	background-position: -160px -560px;
}
.camera_fuchsia_skin .camera_nextThumbs div {
	background-position: -190px -560px;
}
.camera_fuchsia_skin .camera_prev > span {
	background-position: 0 -560px;
}
.camera_fuchsia_skin .camera_next > span {
	background-position: -40px -560px;
}
.camera_fuchsia_skin .camera_commands > .camera_play {
	background-position: -80px -560px;
}
.camera_fuchsia_skin .camera_commands > .camera_stop {
	background-position: -120px -560px	;
}
/*GOLD SKIN*/
.camera_gold_skin .camera_prevThumbs div {
	background-position: -160px -600px;
}
.camera_gold_skin .camera_nextThumbs div {
	background-position: -190px -600px;
}
.camera_gold_skin .camera_prev > span {
	background-position: 0 -600px;
}
.camera_gold_skin .camera_next > span {
	background-position: -40px -600px;
}
.camera_gold_skin .camera_commands > .camera_play {
	background-position: -80px -600px;
}
.camera_gold_skin .camera_commands > .camera_stop {
	background-position: -120px -600px	;
}
/*GREEN SKIN*/
.camera_green_skin .camera_prevThumbs div {
	background-position: -160px -640px;
}
.camera_green_skin .camera_nextThumbs div {
	background-position: -190px -640px;
}
.camera_green_skin .camera_prev > span {
	background-position: 0 -640px;
}
.camera_green_skin .camera_next > span {
	background-position: -40px -640px;
}
.camera_green_skin .camera_commands > .camera_play {
	background-position: -80px -640px;
}
.camera_green_skin .camera_commands > .camera_stop {
	background-position: -120px -640px	;
}
/*GREY SKIN*/
.camera_grey_skin .camera_prevThumbs div {
	background-position: -160px -680px;
}
.camera_grey_skin .camera_nextThumbs div {
	background-position: -190px -680px;
}
.camera_grey_skin .camera_prev > span {
	background-position: 0 -680px;
}
.camera_grey_skin .camera_next > span {
	background-position: -40px -680px;
}
.camera_grey_skin .camera_commands > .camera_play {
	background-position: -80px -680px;
}
.camera_grey_skin .camera_commands > .camera_stop {
	background-position: -120px -680px	;
}
/*INDIGO SKIN*/
.camera_indigo_skin .camera_prevThumbs div {
	background-position: -160px -720px;
}
.camera_indigo_skin .camera_nextThumbs div {
	background-position: -190px -720px;
}
.camera_indigo_skin .camera_prev > span {
	background-position: 0 -720px;
}
.camera_indigo_skin .camera_next > span {
	background-position: -40px -720px;
}
.camera_indigo_skin .camera_commands > .camera_play {
	background-position: -80px -720px;
}
.camera_indigo_skin .camera_commands > .camera_stop {
	background-position: -120px -720px	;
}
/*KHAKI SKIN*/
.camera_khaki_skin .camera_prevThumbs div {
	background-position: -160px -760px;
}
.camera_khaki_skin .camera_nextThumbs div {
	background-position: -190px -760px;
}
.camera_khaki_skin .camera_prev > span {
	background-position: 0 -760px;
}
.camera_khaki_skin .camera_next > span {
	background-position: -40px -760px;
}
.camera_khaki_skin .camera_commands > .camera_play {
	background-position: -80px -760px;
}
.camera_khaki_skin .camera_commands > .camera_stop {
	background-position: -120px -760px	;
}
/*LIME SKIN*/
.camera_lime_skin .camera_prevThumbs div {
	background-position: -160px -800px;
}
.camera_lime_skin .camera_nextThumbs div {
	background-position: -190px -800px;
}
.camera_lime_skin .camera_prev > span {
	background-position: 0 -800px;
}
.camera_lime_skin .camera_next > span {
	background-position: -40px -800px;
}
.camera_lime_skin .camera_commands > .camera_play {
	background-position: -80px -800px;
}
.camera_lime_skin .camera_commands > .camera_stop {
	background-position: -120px -800px	;
}
/*MAGENTA SKIN*/
.camera_magenta_skin .camera_prevThumbs div {
	background-position: -160px -840px;
}
.camera_magenta_skin .camera_nextThumbs div {
	background-position: -190px -840px;
}
.camera_magenta_skin .camera_prev > span {
	background-position: -12px 14px;
}
.camera_magenta_skin .camera_next > span {
	background-position: 12px 14px;
}
.camera_magenta_skin .camera_commands > .camera_play {
	background-position: -80px -840px;
}
.camera_magenta_skin .camera_commands > .camera_stop {
	background-position: -120px -840px	;
}
/*MAROON SKIN*/
.camera_maroon_skin .camera_prevThumbs div {
	background-position: -160px -880px;
}
.camera_maroon_skin .camera_nextThumbs div {
	background-position: -190px -880px;
}
.camera_maroon_skin .camera_prev > span {
	background-position: 0 -880px;
}
.camera_maroon_skin .camera_next > span {
	background-position: -40px -880px;
}
.camera_maroon_skin .camera_commands > .camera_play {
	background-position: -80px -880px;
}
.camera_maroon_skin .camera_commands > .camera_stop {
	background-position: -120px -880px	;
}
/*ORANGE SKIN*/
.camera_orange_skin .camera_prevThumbs div {
	background-position: -160px -920px;
}
.camera_orange_skin .camera_nextThumbs div {
	background-position: -190px -920px;
}
.camera_orange_skin .camera_prev > span {
	background-position: 0 -920px;
}
.camera_orange_skin .camera_next > span {
	background-position: -40px -920px;
}
.camera_orange_skin .camera_commands > .camera_play {
	background-position: -80px -920px;
}
.camera_orange_skin .camera_commands > .camera_stop {
	background-position: -120px -920px	;
}
/*OLIVE SKIN*/
.camera_olive_skin .camera_prevThumbs div {
	background-position: -160px -1080px;
}
.camera_olive_skin .camera_nextThumbs div {
	background-position: -190px -1080px;
}
.camera_olive_skin .camera_prev > span {
	background-position: 0 -1080px;
}
.camera_olive_skin .camera_next > span {
	background-position: -40px -1080px;
}
.camera_olive_skin .camera_commands > .camera_play {
	background-position: -80px -1080px;
}
.camera_olive_skin .camera_commands > .camera_stop {
	background-position: -120px -1080px	;
}
/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
	background-position: -160px -960px;
}
.camera_pink_skin .camera_nextThumbs div {
	background-position: -190px -960px;
}
.camera_pink_skin .camera_prev > span {
	background-position: 0 -960px;
}
.camera_pink_skin .camera_next > span {
	background-position: -40px -960px;
}
.camera_pink_skin .camera_commands > .camera_play {
	background-position: -80px -960px;
}
.camera_pink_skin .camera_commands > .camera_stop {
	background-position: -120px -960px	;
}
/*PISTACHIO SKIN*/
.camera_pistachio_skin .camera_prevThumbs div {
	background-position: -160px -1040px;
}
.camera_pistachio_skin .camera_nextThumbs div {
	background-position: -190px -1040px;
}
.camera_pistachio_skin .camera_prev > span {
	background-position: 0 -1040px;
}
.camera_pistachio_skin .camera_next > span {
	background-position: -40px -1040px;
}
.camera_pistachio_skin .camera_commands > .camera_play {
	background-position: -80px -1040px;
}
.camera_pistachio_skin .camera_commands > .camera_stop {
	background-position: -120px -1040px	;
}
/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
	background-position: -160px -80px;
}
.camera_pink_skin .camera_nextThumbs div {
	background-position: -190px -80px;
}
.camera_pink_skin .camera_prev > span {
	background-position: 0 -80px;
}
.camera_pink_skin .camera_next > span {
	background-position: -40px -80px;
}
.camera_pink_skin .camera_commands > .camera_play {
	background-position: -80px -80px;
}
.camera_pink_skin .camera_commands > .camera_stop {
	background-position: -120px -80px;
}
/*RED SKIN*/
.camera_red_skin .camera_prevThumbs div {
	background-position: -160px -1000px;
}
.camera_red_skin .camera_nextThumbs div {
	background-position: -190px -1000px;
}
.camera_red_skin .camera_prev > span {
	background-position: 0 -1000px;
}
.camera_red_skin .camera_next > span {
	background-position: -40px -1000px;
}
.camera_red_skin .camera_commands > .camera_play {
	background-position: -80px -1000px;
}
.camera_red_skin .camera_commands > .camera_stop {
	background-position: -120px -1000px	;
}
/*TANGERINE SKIN*/
.camera_tangerine_skin .camera_prevThumbs div {
	background-position: -160px -1120px;
}
.camera_tangerine_skin .camera_nextThumbs div {
	background-position: -190px -1120px;
}
.camera_tangerine_skin .camera_prev > span {
	background-position: 0 -1120px;
}
.camera_tangerine_skin .camera_next > span {
	background-position: -40px -1120px;
}
.camera_tangerine_skin .camera_commands > .camera_play {
	background-position: -80px -1120px;
}
.camera_tangerine_skin .camera_commands > .camera_stop {
	background-position: -120px -1120px	;
}
/*TURQUOISE SKIN*/
.camera_turquoise_skin .camera_prevThumbs div {
	background-position: -160px -1160px;
}
.camera_turquoise_skin .camera_nextThumbs div {
	background-position: -190px -1160px;
}
.camera_turquoise_skin .camera_prev > span {
	background-position: 0 -1160px;
}
.camera_turquoise_skin .camera_next > span {
	background-position: -40px -1160px;
}
.camera_turquoise_skin .camera_commands > .camera_play {
	background-position: -80px -1160px;
}
.camera_turquoise_skin .camera_commands > .camera_stop {
	background-position: -120px -1160px	;
}
/*VIOLET SKIN*/
.camera_violet_skin .camera_prevThumbs div {
	background-position: -160px -1200px;
}
.camera_violet_skin .camera_nextThumbs div {
	background-position: -190px -1200px;
}
.camera_violet_skin .camera_prev > span {
	background-position: 0 -1200px;
}
.camera_violet_skin .camera_next > span {
	background-position: -40px -1200px;
}
.camera_violet_skin .camera_commands > .camera_play {
	background-position: -80px -1200px;
}
.camera_violet_skin .camera_commands > .camera_stop {
	background-position: -120px -1200px	;
}
/*WHITE SKIN*/
.camera_white_skin .camera_prevThumbs div {
	background-position: -160px -80px;
}
.camera_white_skin .camera_nextThumbs div {
	background-position: -190px -80px;
}
.camera_white_skin .camera_prev > span {
	background-position: 0 -80px;
}
.camera_white_skin .camera_next > span {
	background-position: -40px -80px;
}
.camera_white_skin .camera_commands > .camera_play {
	background-position: -80px -80px;
}
.camera_white_skin .camera_commands > .camera_stop {
	background-position: -120px -80px;
}
/*YELLOW SKIN*/
.camera_yellow_skin .camera_prevThumbs div {
	background-position: -160px -1240px;
}
.camera_yellow_skin .camera_nextThumbs div {
	background-position: -190px -1240px;
}
.camera_yellow_skin .camera_prev > span {
	background-position: 0 -1240px;
}
.camera_yellow_skin .camera_next > span {
	background-position: -40px -1240px;
}
.camera_yellow_skin .camera_commands > .camera_play {
	background-position: -80px -1240px;
}
.camera_yellow_skin .camera_commands > .camera_stop {
	background-position: -120px -1240px	;
}
@media only screen and (max-width: 1280px){
	.camera_prev {
		left: 96.3%;
	}
}
@media only screen and (max-width: 1024px){
	.camera_prev {
		left: 95.5%;
	}
	.camera_caption {
		top: 30%;
	}
}
@media only screen and (max-width: 800px){
	.camera_caption > div p a {
		font-size: 0.8em;
		padding: 7px 20px;
	}
	.camera_caption > div h2 {
		font-size: 0.5em;
	}
	.camera_prev {
		left: 94.5%;
	}
	.camera_caption {
		top: 33%;
	}
}
@media only screen and (max-width: 640px){
	.camera_caption > div p a {
		font-size: 0.8em;
		padding: 7px 20px;
	}
	.camera_caption > div h2 {
		font-size: 0.5em;
	}
	.camera_prev {
		left: 93%;
	}
	.camera_caption {
		top: 26%;
	}
	.camera_caption > div{
		line-height: 1em;
	}
}
@media only screen and (max-width: 480px){
	.camera_caption > div p a {
		font-size: 0.8em;
		padding: 3px 10px;
	}
	.camera_caption > div h2 {
		font-size: 0.5em;
	}
	.camera_prev {
		left: 91%;
	}
	.camera_caption {
		top: 26%;
	}
	.camera_caption > div{
		line-height: 1em;
	}
}
@media only screen and (max-width: 320px){
	.camera_caption > div p a {
		font-size: 0.8em;
		padding: 3px 10px;
	}
	.camera_caption > div h2 {
		font-size: 0.5em;
	}
	.camera_prev {
		left: 86%;
	}
	.camera_caption {
		top: 14%;
	}
	.camera_caption > div{
		line-height: 1em;
	}
}