<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="a">
                        <a routerLink='/patient/blog/home' [routerLinkActive]="['router-link-active']">About</a>
                    </li>
                    <li>
                        <a routerLink='/patient/blog/ask' [routerLinkActive]="['router-link-active']">Our Calling</a>
                    </li>
                    <li>
                        <a routerLink='/patient/blog/archive' [routerLinkActive]="['router-link-active']">Archive</a>
                    </li>
                    <li>
                        <a routerLink='/patient/blog/contact' [routerLinkActive]="['router-link-active']">Contact</a>
                    </li>

                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
