$topnav-background-color: #000000;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #fed136 !default;
  .navbar {
    .navbar-toggler {
      font-size: 12px;
      right: 0;
      padding: 13px;
      text-transform: uppercase;
      color: #000000;
      border: 0;
      background-color: yellow;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .navbar-brand {
      color: yellow;
      font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
      &.active,
      &:active,
      &:focus,
      &:hover {
        color: darken(yellow, 10%);
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 90%;
          font-weight: 400;
          padding: 0.75em 0;
          letter-spacing: 1px;
          color: white;
          &.active,
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
  @media(min-width:100px) {
    .navbar{
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
      .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 1.1em 1em !important;
          }
        }
      }
      &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $topnav-background-color;
        .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0;
        }
      }
    }
  .scrolled{
    background: $topnav-background-color;
    padding-top: 10px;
      padding-bottom: 10px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      .navbar-brand {
        font-size: 1.4em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 0.5em 0.5em !important;
          }
        }
      }
      &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $topnav-background-color;
        .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0;
        }
      }
  }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
    color: rgba(27, 46, 84, 0.8);
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .section-heading {
    margin: 15px 0;
    text-transform: none;
    color: darken($color: yellow, $amount: 10%);
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
  }
  .portfolio {
    .portfolio-item {
      right: 0;
      margin: 0 0 15px;
      .portfolio-link {
        position: relative;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer;
        .portfolio-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
          opacity: 0;
          background: fade-out($primary, .1);
          &:hover {
            opacity: 1;
          }
          .portfolio-hover-content {
            font-size: 20px;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 20px;
            margin-top: -12px;
            text-align: center;
            color: white;
            i {
              margin-top: -12px;
            }
            h3,
            h4 {
              margin: 0;
            }
          }
        }
      }
      .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        background-color: $white;
        h4 {
          margin: 0;
          text-transform: none;
        }
        p {
          font-size: 16px;
          font-style: italic;
          margin: 0;
          font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
      }
    }
    * {
      z-index: 2;
    }
  }
  @media(min-width:767px) {
    .portfolio {
      .portfolio-item {
        margin: 0 0 30px;
      }
    }
  }
  
  .portfolio-modal {
    padding-right: 0px !important;
    .modal-dialog {
      margin: 1rem;
      max-width: 100vw;
    }
    .modal-content {
      padding: 100px 0;
      text-align: center;
      h2 {
        font-size: 3em;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 30px;
      }
      p.item-intro {
        font-size: 16px;
        font-style: italic;
        margin: 20px 0 30px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      ul.list-inline {
        margin-top: 0;
        margin-bottom: 30px;
      }
      img {
        margin-bottom: 30px;
      }
      button {
        cursor: pointer;
      }
    }
    .close-modal {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        opacity: 0.3;
      }
      .lr {
        /* Safari and Chrome */
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: $gray-900;
        .rl {
          /* Safari and Chrome */
          z-index: 1052;
          width: 1px;
          height: 75px;
          /* IE 9 */
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          background-color: $gray-900;
        }
      }
    }
    .modal-backdrop {
  
    }
  }
  ngb-carousel{
    height: 652px;
    width: 100%;
    
}.background{
    position: relative;
    height: 652px;
}
.image{
    height: 652px;
}
.layer {
    background-color: rgba(0,0,0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  .business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://www.orthodonticmasters.com/images/a1111.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .card {
    height: 100%;
  }
  body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  p {
    line-height: 1.75;
  }
  
  a {
    color: $primary;
    &:hover {
      color: darken($primary, 10%);
    }
  }
  
  .text-primary {
    color: $primary !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  section {
    padding: 70px 0;
    h2.section-heading {
      font-size: 40px;
      margin-bottom: 15px;
    }
    h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  @media(min-width:768px) {
    section {
      padding: 100px 0;
    }
  }
  
  // Button Styles
  .btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:active,
    &:focus,
    &:hover {
      background-color: darken($primary, 7.5%) !important;
      border-color: darken($primary, 7.5%) !important;
      color: white;
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
    }
  }
  
  // Highlight color customization
  ::-moz-selection {
    background: $primary;
    text-shadow: none;
  }
  
  ::selection {
    background: $primary;
    text-shadow: none;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }

  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 2px;
      margin-left: -1.5px;
      content: '';
      background-color: $gray-200;
    }
    > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid $gray-200;
        border-radius: 100%;
        background-color: $primary;
        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-top: 12px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        margin-top: 0;
        color: inherit;
        &.subheading {
          text-transform: none;
        }
      }
    }
    .timeline-body {
       > ul,
      > p {
        margin-bottom: 0;
      }
    }
  }
  @media(min-width:768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        margin-bottom: 100px;
        .timeline-panel {
          float: left;
          width: 41%;
          padding: 0 20px 20px 30px;
          text-align: right;
        }
        .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
          h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;
        }
      }
    }
  }
  @media(min-width:992px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 0 20px 20px;
        }
        .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 20px 20px;
        }
      }
    }
  }
  @media(min-width:1200px) {
    .timeline {
      > li {
        min-height: 170px;
        .timeline-panel {
          padding: 0 20px 20px 100px;
        }
        .timeline-image {
          width: 170px;
          height: 170px;
          margin-left: -85px;
          h4 {
            margin-top: 40px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 100px 20px 20px;
        }
      }
    }
  }

  section.contact {
    background-color: $gray-900;
    background-repeat: no-repeat;
    background-position: center;
    .section-heading {
      color: $white;
    }
    .form-group {
      margin-bottom: 25px;
      input,
      textarea {
        padding: 20px;
      }
      input.form-control {
        height: auto;
      }
      textarea.form-control {
        height: 248px;
      }
    }
    .form-control:focus {
      border-color: $primary;
      box-shadow: none;
    }
    ::-webkit-input-placeholder {
      font-weight: 700;
      color: $gray-400;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    :-moz-placeholder {
      font-weight: 700;
      color: $gray-400;
      /* Firefox 18- */
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    ::-moz-placeholder {
      font-weight: 700;
      color: $gray-400;
      /* Firefox 19+ */
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    :-ms-input-placeholder {
      font-weight: 700;
      color: $gray-400;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }