/*-- //Reset-Code --*/
/* respoinsive */
/* //respoinsive */
body {
	padding: 0;
	margin: 0;
	font-family: 'Alegreya Sans', sans-serif;
	a {
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
}
a {
	&:hover {
		text-decoration: none;
		text-decoration: none;
		outline: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
}
input[type="button"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width: 72.5%;
	padding: 10px 40px;
	margin-top: 5px;
	font-size: 16px;
	background-color: #007cc0;
	border: 1px solid #007cc0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: 0;
	cursor: pointer;
	font-family: 'Alegreya Sans', sans-serif;
	&:hover {
		background-color: #ffc168;
		border: 1px solid #ffc168;
		color: #000;
	}
}
h1 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
h2 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
h4 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
h5 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
label {
	margin: 0;
}
.w3ls-banner {
	background: url(../../assets/images/bg.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white;
	background-position: center;
	padding-top: 30px;
}
.heading {
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 1px;
	h1 {
		margin-bottom: 25px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 50px;
	}
	h2 {
		font-weight: 400;
	}
	p {
		font-size: 16px;
		margin-top: 20px;
	}
}
.container {
	width: 43%;
	margin: auto;
	padding: 30px 30px 20px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
}
label.form-label {
	display: inline-block;
	width: 27%;
	font-weight: 400;
	letter-spacing: 1px;
	vertical-align: top;
}
.form-input {
	display: inline-block;
	width: 72%;
}
.name {
	.form-input {
		display: inline-block;
		width: 72%;
	}
	span.form-sub-label {
		input[type="text"] {
			margin-bottom: 0;
		}
	}
}
ul.field-list {
	li {
		margin: 15px 0px;
	}
}
select {
	width: 98.4%;
	padding: 12px 10px;
	color: #666;
	border: none;
	font-size: 15px;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #fff;
	&:focus {
		outline: none;
	}
}
input[type="text"] {
	&:focus {
		outline: none;
	}
	padding: 12px 10px;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 15px;
	border: none;
	width: 98.6%;
	color: #333;
	font-family: 'Alegreya Sans', sans-serif;
}
input[type="email"] {
	&:focus {
		outline: none;
	}
	padding: 12px 10px;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 15px;
	border: none;
	width: 98.6%;
	color: #333;
	font-family: 'Alegreya Sans', sans-serif;
}
.dob {
	select {
		width: 32.4%;
	}
	span.form-sub-label {
		input[type="text"] {
			margin-bottom: 0;
		}
	}
}
span.form-sub-label {
	input[type="text"] {
		margin: 0px 0px 15px 0;
		width: 49%;
	}
}
span.last {
	input[type="text"] {
		margin: 0px 0px 0px 0;
	}
}
span.form-required {
	color: #fff;
}
label.form-label1 {
	display: inline-block;
	margin: 15px 0px;
	letter-spacing: 1px;
}
label.type-of-test {
	display: inline-block;
	width: 150px;
	margin-bottom: 10px;
	margin-left: 10px;
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 14px;
}
textarea {
	width: 98%;
	background-color: rgba(255, 255, 255, 0.63);
}
.submit_btn {
	text-align: right;
	margin-right: 10px;
}
input.year {
	width: 31% !important;
}
input[type="checkbox"] {
	vertical-align: middle;
}
.copyright {
	p {
		text-align: center;
		padding: 15px 5px;
		letter-spacing: 1px;
		font-size: 16px;
	}
	a {
		color: #fff;
		&:hover {
			color: #ffc168;
		}
	}
}
@media screen and (max-width: 1366px) {
	.container {
		width: 45%;
	}
	.submit_btn {
		margin-right: 8px;
	}
	input[type="submit"] {
		width: 72%;
	}
}
@media screen and (max-width: 1280px) {
	.heading {
		h1 {
			font-size: 45px;
		}
	}
}
@media screen and (max-width: 1080px) {
	.container {
		width: 52%;
	}
}
@media screen and (max-width: 991px) {
	.container {
		width: 55%;
	}
	.heading {
		h1 {
			font-size: 42px;
		}
	}
}
@media screen and (max-width: 900px) {
	.container {
		width: 58%;
	}
	.heading {
		h1 {
			font-size: 40px;
		}
	}
}
@media screen and (max-width: 800px) {
	.container {
		width: 65%;
	}
	.heading {
		h1 {
			font-size: 38px;
		}
	}
}
@media screen and (max-width: 768px) {
	.container {
		width: 70%;
	}
	.heading {
		h1 {
			font-size: 36px;
		}
	}
}
@media screen and (max-width: 736px) {
	.container {
		width: 80%;
	}
}
@media screen and (max-width: 640px) {
	.container {
		width: 85%;
	}
}
@media screen and (max-width: 568px) {
	.container {
		width: 90%;
	}
	label.type-of-test {
		width: 40%;
	}
	label.form-sub-label1 {
		position: absolute;
		bottom: -28px;
		left: 5px;
		font-size: 13px;
		display: block;
	}
}
@media screen and (max-width: 480px) {
	.heading {
		h1 {
			font-size: 33px;
		}
		h2 {
			font-size: 1.3em;
		}
	}
	.container {
		width: 95%;
		padding: 17px 10px 20px;
	}
	label.form-label {
		font-size: 15px;
	}
	.copyright {
		p {
			line-height: 26px;
		}
	}
}
@media screen and (max-width: 414px) {
	.form-input {
		width: 100%;
	}
	label.form-label {
		width: 100%;
		margin-bottom: 7px;
	}
	input.year {
		width: 41% !important;
	}
	label.form-sub-label1 {
		bottom: -22px;
		left: 4px;
		font-size: 13px;
		letter-spacing: 1px;
	}
	.heading {
		h2 {
			font-size: 22px;
			font-size: 20px;
		}
		h1 {
			font-size: 29px;
		}
		p {
			font-size: 15px;
			margin-top: 10px;
		}
	}
	.dob {
		select {
			width: 32%;
		}
	}
	input[type="email"] {
		width: 99%;
		padding: 10px 10px;
	}
	textarea {
		width: 97%;
	}
	input[type="text"] {
		padding: 10px 10px;
	}
	select {
		padding: 10px 10px;
		padding-right: 0;
	}
	.name {
		.form-input {
			width: 100%;
		}
	}
	input[type="submit"] {
		width: 100%;
	}
	.submit_btn {
		margin-right: 4px;
	}
}
@media screen and (max-width: 384px) {
	.heading {
		h1 {
			margin-bottom: 20px;
			font-size: 30px;
			font-size: 28px;
		}
	}
}
@media screen and (max-width: 375px) {
	label.type-of-test {
		width: 40%;
		margin-left: 5px;
	}
	label.form-sub-label1 {
		bottom: -25px;
	}
	input.year {
		width: 39% !important;
	}
	.heading {
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 15px;
			margin-top: 15px;
		}
		h1 {
			font-size: 26px;
		}
	}
	.copyright {
		p {
			font-size: 15px;
		}
	}
}
@media screen and (max-width: 320px) {
	.heading {
		h1 {
			margin-bottom: 20px;
			font-size: 24px;
		}
		h2 {
			font-size: 17px;
		}
		p {
			font-size: 13px;
			margin-top: 15px;
		}
	}
	span.form-sub-label {
		input[type="text"] {
			width: 99%;
		}
	}
	span.last {
		input[type="text"] {
			margin: 0px 0px 15px 0;
		}
	}
	label.type-of-test {
		width: 36%;
		margin-left: 7px;
		font-size: 14px;
	}
	input[type="text"] {
		width: 99%;
	}
	label.form-label1 {
		margin: 8px 0px;
	}
	.copyright {
		p {
			font-size: 14px;
		}
	}
	.name {
		span.form-sub-label {
			input[type="text"] {
				&:nth-child(1) {
					margin-bottom: 10px;
				}
			}
		}
	}
	ul.field-list {
		li {
			margin: 10px 0px;
		}
	}
	input[type="submit"] {
		font-size: 15px;
		margin-top: 0px;
	}
}
