<div [@routerTransition] class="animated fadeIn">
    <div class="row">
        <ngb-carousel>
            <ng-template ngbSlide class="animated slideInRight" *ngFor="let slider of sliders">
                <div class="background">
                    <img class="animated fadeIn img-fluid mx-auto d-block image" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="layer">
                        <div class="animated slideInRight carousel-caption">
                            <h1>{{slider.label}}</h1>
                            <h3>{{slider.text}}</h3>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="container">
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center wow fadeIn">
                        <h1 class="section-heading text-uppercase">Services</h1>
                        <h5 class="section-subheading text-muted">Explore the general and specialty dentistry we offer you and your family.</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">General Dentistry</h4>
                        <p class="text-muted text-justify">Our Dental Associates dentists and their teams are passionate about providing comprehensive, quality
                            dental care to patients of all ages. Maintaining good oral health by seeing your dentist and
                            hygienist twice a year assures you enjoy life with a healthy smile and greatly reduces your risk
                            of problems arising.</p>
                    </div>
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Cosmetic Dentistry</h4>
                        <p class="text-muted text-justify">Our team at Dental Associates wants you to feel more confident about your smile. We offer many cosmetic
                            dentistry choices, and will work with you to create the smile you want.</p>
                    </div>
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">pediatric Dentistry</h4>
                        <p class="text-muted text-justify">Your child deserves the best dental care possible. At Dental Associates, our caring pediatric dentists
                            and their teams make your child feel comfortable and help prepare them for a lifetime of healthy
                            smiles. Not only do we help teach your child how to take care of their teeth, but we also have
                            the benefit of in-house orthodontists.</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Braces & Orthodontics</h4>
                        <p class="text-muted text-justify">Dental Associates clinics offer the benefit of an orthodontist right down the hall from your family’s
                            general and pediatric dentists. When your child is ready for braces, they’ll be able to receive
                            braces care in the same clinic where they receive the rest of their dental care. </p>
                    </div>
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-steam fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Endodontics & Root Canals</h4>
                        <p class="text-muted text-justify">Endodontics is the specialty of dentistry that focuses on the treatment of the pulp and roots of
                            the teeth. Since the area inside and underneath your teeth is very complex, an infection in the
                            roots of the teeth can be very painful. Therefore, it’s important to maintain proper oral hygiene
                            habits and keep the surface of your teeth healthy.</p>
                    </div>
                    <div class="col-md-4 wow bounceIn">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-american-sign-language-interpreting fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Oral Surgery</h4>
                        <p class="text-muted text-justify">Our oral surgeons at Dental Associates are expertly-trained dentists who specialize in surgical procedures
                            involving your teeth, mouth and jaw. We offer oral surgery procedures to correct various issues,
                            and our dentists and surgeons will work together to provide the best treatment plan for your
                            individual case.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Content -->
        <section class="bg-light portfolio" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase wow bounceIn">Portfolio</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInLeft">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="https://dentmedico.cz/wp-content/uploads/2016/04/endo.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Endodontics</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInDown">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="https://i.pinimg.com/originals/b8/4b/ee/b84beec5f5881a12f7eed4ae2e2163b2.png" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Oral and Maxillofacial Radiology</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInRight">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="http://atlasdental.com/wp-content/uploads/2018/02/TeethWhitening_beforeafter2.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Orthodontics</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInLeft">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="http://azphp.com/wp-content/uploads/2017/01/dental-patient-examininggums.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Periodontics</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInDown">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="https://www.onlinemphdegree.net/files/2013/07/public-health-dentist.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Dental Public Health</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow bounceInRight">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="http://www.pasqualoms.com/files/2012/12/86F8E15E-0F0A-48A5-9E3B-4E8EA6E0B601.jpg" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Oral and Maxillofacial Surgery</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase wow bounceIn">About</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline" style="list-style:none">
                            <li>
                                <div class="timeline-image wow slideInRight">
                                    <img class="rounded-circle img-fluid" src="https://www.countrysidedentist.com/assets/images/interior-technology.jpg" alt="">
                                </div>
                                <div class="timeline-panel wow slideInLeft">
                                    <div class="timeline-heading">
                                        <h4>2009-2011</h4>
                                        <h4 class="subheading">Our Humble Beginnings</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                            sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                            sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image wow slideInLeft">
                                    <img class="rounded-circle img-fluid" src="http://donnasmortgages.com/wp-content/uploads/2016/07/Dental-Financing-300x300.jpg"
                                        alt="">
                                </div>
                                <div class="timeline-panel wow slideInRight">
                                    <div class="timeline-heading">
                                        <h4>March 2011</h4>
                                        <h4 class="subheading">An Agency is Born</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                            sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                            sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image wow slideInRight">
                                    <img class="rounded-circle img-fluid" src="http://www.dentalseasons.com.au/img/services/cosmetic-dentistry.png" alt="">
                                </div>
                                <div class="timeline-panel wow slideInLeft">
                                    <div class="timeline-heading">
                                        <h4>December 2012</h4>
                                        <h4 class="subheading">Transition to Full Service</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                            sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                            sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted wow bounceInDown">
                                <div class="timeline-image">
                                    <h4>Be Part
                                        <br>Of Our
                                        <br>Story!</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="https://dentmedico.cz/wp-content/uploads/2016/04/endo.jpg" alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="https://i.pinimg.com/originals/b8/4b/ee/b84beec5f5881a12f7eed4ae2e2163b2.png"
                                        alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Explore</li>
                                        <li>Category: Graphic Design</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3 -->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="http://atlasdental.com/wp-content/uploads/2018/02/TeethWhitening_beforeafter2.jpg"
                                        alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Finish</li>
                                        <li>Category: Identity</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 4 -->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="http://azphp.com/wp-content/uploads/2017/01/dental-patient-examininggums.jpg"
                                        alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Lines</li>
                                        <li>Category: Branding</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 5 -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="https://www.onlinemphdegree.net/files/2013/07/public-health-dentist.jpg" alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Southwest</li>
                                        <li>Category: Website Design</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 6 -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="http://www.pasqualoms.com/files/2012/12/86F8E15E-0F0A-48A5-9E3B-4E8EA6E0B601.jpg"
                                        alt="">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                                        quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                                        facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2017</li>
                                        <li>Client: Window</li>
                                        <li>Category: Photography</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="contact wow fadeInUp" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Contact Us</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contactForm" name="sentMessage" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>