.chat-box {
    margin-left: 300px;
    margin-top: 100px;
}
@media only screen and (max-width: 600px){
	.chat-box {
        margin-left: 0px;
        margin-top: 56px;
    }
}
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px dotted #B3A9A9;
		.chat-body {
			p {
				margin: 0;
				color: #777777;
			}
		}
	}
	li.left {
		.chat-body {
			margin-left: 60px;
		}
	}
	li.right {
		.chat-body {
			margin-right: 60px;
		}
	}
	.glyphicon {
		margin-right: 5px;
	}
}
.chat-center {
	padding-top: 80px;
}
.panel {
	.slidedown {
		.glyphicon {
			margin-right: 5px;
		}
	}
}
.panel-body {
	overflow-y: scroll;
    height: 400px;
    width: 350px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
