<div class="wrap toppic" style="background:url('https://www.dentalassociates.com/application/files/3415/0041/1256/about-us-dental-associates.jpg') no-repeat cover">
    <div class="grid">
        <div class="top-cont">
            <h2>Dental Associates</h2>
        </div>
        <p>Wisconsin-born. Owned by a dentist. Learn about Wisconsin's leading family-owned group dental practice.</p>
    </div>
    <div class="clear"> </div>
</div>

<div class="top-bg">
    <div class="wrap">
        <div class="top-cont">
            <h2>About Us</h2>
            <p class="text-justify">Dental Associates is a premier dental provider, offering your family complete dental care at 14 convenient locations.
            </p>
            <p class="complete"> What once was a small office serving only one Milwaukee location is now an AAAHC (Accreditation Association of
                Ambulatory Health Care) Accredited organization of over 800 team members serving 14 clinics and thousands
                of families throughout Eastern Wisconsin, from Green Bay to Milwaukee and down to Kenosha. We’re proud to
                be owned by a practicing dentist, Dr. Thomas Manos. In fact, we’ve been owned by Dr. Manos’ family ever since
                our first clinic opened in 1974.</p>
            <h6>
                <a class="more-text" (click)="showText()">READ MORE</a>
            </h6>
        </div>
    </div>
</div>
<div class="top-bg">
    <div class="wrap">
        <div class="top-cont">
            <h2>All Dental Specialties</h2>
            <p class="text-justify">We truly believe that your family receives the most complete, coordinated care when you visit any of our clinics.
                Not only do our dentists and their teams treat each patient as if they’re family, but you won’t have to be
                referred out for specialty dental work, should you ever need it. If your dentist finds you need a root canal,
                dentures, dental implants, or other specialty dental procedure, you can have it all done in the same clinic
                or one of our nearby clinics. </p>
        </div>
    </div>
</div>
<div class="middle-bg">
    <div class="wrap">
        <div class="middle-cont">
            <div class="header-text">
                <h2>Complete Care</h2>
            </div>
            <p class="text-justify"> Dental Associates provides complete family dental services, from general to specialty dentistry, all with a focus
                on excellent care that is affordable, accessible and personalized. In fact, Dental Associates is nationally
                accredited through the AAAHC as a Dental Home organization. This means we have an ongoing relationship with
                our patients and deliver comprehensive, continuously accessible, coordinated care in a family-centered way.</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="middle-bg">
    <div class="wrap">
        <div class="middle-cont">
            <div class="header-text">
                <h2>Our Mission & Values</h2>
            </div>
            <p class="text-justify"> Our mission statement is simple and our team members live out our mission in everything we do: To improve our
                patient’s quality of life through excellence in oral health care. We consistently aspire to meet this mission
                by defining and living a set of values that are customer-focused, caring and compassionate. We not only live
                these values at our clinics, but carry them into our communities as well. We pledge to…</p>
            <br>
            <ul style="list-style-type:none;color:#fff">
                <li>Do the right thing every time</li>
                <li>Commit to quality</li>
                <li>Pledge to safety</li>
                <li>Lead by example</li>
                <li>Work Together</li>
                <li>Be accountable</li>
                <li>Keep learning</li>
                <li>Embrace innovation</li>
                <li>Care</li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="bottom-bg">
    <div class="wrap">
        <div class="middle-cont">
            <div class="header-text-1">
                <h2>Get Started with Dental Associates Today!</h2>
            </div>
            <p class="text-justify" style="color:#fff">If you’re ready to get started, request your appointment below!</p>
        </div>
        <button class="btn btn-default orange-circle-button" routerLink='/patient/appointment'>Request
            <br />Appointment
            <br />
        </button>
    </div>
</div>
<br>
<br>
<section class="bg-light portfolio" id="portfolio">
    <div class="container">
        <div class="wrap">
            <div class="middle-cont">
                <div class="header-text-2">
                    <h2>Our Calling</h2>
                </div>
                <p class="text-justify" style="color:#747474">Our caregivers tell why they’re so passionate about offering superior dental care.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 portfolio-item wow bounceInLeft">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <h3>Dr. Hira Chughtai</h3>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://www.dentalassociates.com/application/files/6315/0003/2743/our-calling-hira-chughtai.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 portfolio-item wow bounceInDown">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <h3>Jeannie Ledwitch</h3>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://www.dentalassociates.com/application/files/3315/0003/2748/our-calling-jeannie-ledwitch.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 portfolio-item wow bounceInRight">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <h3>Dr. Tom Manos</h3>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://www.dentalassociates.com/application/files/3515/0003/2762/our-calling-tom-manos.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 portfolio-item wow bounceInLeft">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <h3>Dr. Sam Schmidt</h3>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://www.dentalassociates.com/application/files/2815/0003/2754/our-calling-sam-schmidt.jpg"
                        alt="">
                </a>
            </div>
        </div>
        <div class="middle-cont">
            <div class="header-text-2">
                <button class="btn btn-primary">See Our Calling</button>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footerHeader"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>About us</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.
                </p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-md-4">
                <h3>Our Location </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d433868.0837064906!2d35.66744174160663!3d31.836036762053016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5fb85d7981af%3A0x631c30c0f8dc65e8!2sAmman!5e0!3m2!1sen!2sjo!4v1499168051085"
                    sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <ul>
                    <li>Phone : 123 - 456 - 789</li>
                    <li>E-mail : info@comapyn.com</li>
                    <li>Fax : 123 - 456 - 789</li>
                </ul>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s
                </p>
                <ul class="sm">
                    <li>
                        <a href="#">
                            <img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>