<header>
	<nav class="navbar navbar-default navbar-fixed-top" data-aos="fade-down" data-aos-duration="2600" data-aos-once="true">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-link" href="#">Dize Design AOS-Header v.2</a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav navbar-right">
					<li role="presentation">
						<a href="#">Home </a>
					</li>
					<li role="presentation">
						<a href="#">Project </a>
					</li>
					<li role="presentation">
						<a href="#">About Us</a>
					</li>
					<li role="presentation">
						<a href="#">Contact </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-12" data-aos="fade-left" data-aos-duration="2600" data-aos-once="true">
				<h1>Lorem Ipsum</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			</div>
		</div>
	</div>

</header>