@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block-1 {
  background: #33691e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c8e6c9, #33691e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #c8e6c9, #33691e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}

.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}
.jumbotron.vertical-center {
  margin-bottom: 0;
}
.vertical-center {
  min-height: 100%; 
  min-height: 100vh; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;

         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.login-sec {
  background: -webkit-linear-gradient(to bottom, #c8e6c9, #33691e);
  background: linear-gradient(to bottom, #c8e6c9, #33691e);
  .copy-text {
    font-size: 13px;
    text-align: center;
    i {
      color: #FEB58A;
    }
    a {
      color: #E36262;
    }
  }
  h2 {
    margin-top: 15%;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
    &:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #FEB58A;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.btn-login {
  background: #33691e;
  color: #fff;
  font-weight: 600;
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
  h2 {
    color: #fff;
    font-weight: 600;
    &:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #FFF;
      display: block;
      margin-top: 20px;
      border-radius: 3px;
    }
  }
  p {
    color: #fff;
  }
}