<div class="jumbotron vertical-center">
    <div class="wow fadeIn container align-middle justify-content-center" [@routerTransition]>
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="row login-sec">
            <div class="col-md-4 col-sm-4">
                <h2 class="text-center">Dentist Login</h2>
                <form [formGroup]="loginForm" style="margin-left: 20%;margin-right:15%;width: 70%;">
                    <div class="form-content">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Enter your Unique Id" formControlName="uniqueId" required>
                                <mat-error *ngIf="loginForm.get('uniqueId').hasError('required')">This field has to be filled</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Enter Username" formControlName="username" required>
                                <mat-error *ngIf="loginForm.get('username').hasError('required')">This field has to be filled</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Enter your password" formControlName="password" required>
                                <mat-error *ngIf="loginForm.get('password').hasError('required')">This field has to be filled</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <button class="btn btn-login" type="submit" (click)="onLoggedin()" [disabled]="!loginForm.valid"> Login
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none col-md-8 col-sm-8 thumbnail">
                <img class="img-fluid img-thumbnail" src="https://expertbeacon.com/sites/default/files/pain-free_dentistry_can_help_you_get_over_your_fear_of_the_dentist.jpg"
                    alt="First slide">
            </div>
        </div>
    </div>
</div>