<div id="main-wrapper">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-side">
                <header style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                    <span style="color:#fff">Need an account?</span>
                    <h3 style="color:#fff">Create Account
                        <br style="color:#fff">Make Profits</h3>
                </header>
            </div>
            <div class="col-md-6 right-side">
                <form [formGroup]="registerForm">
                    <span class="input input--hoshi">
                        <mat-form-field>
                            <input matInput class="input__field input__field--hoshi" placeholder="Enter your email" formControlName="email" required>
                            <mat-icon matSuffix color="warn">email</mat-icon>
                            <mat-error *ngIf="registerForm.get('email').hasError('required')">This field has to be filled</mat-error>
                            <mat-error *ngIf="registerForm.get('email').hasError('email')">Enter valid email</mat-error>
                        </mat-form-field>
                    </span>
                    <span class="input input--hoshi">
                        <mat-form-field>
                            <input matInput class="input__field input__field--hoshi" [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix color="warn" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="registerForm.get('password').hasError('required')">This field has to be filled</mat-error>
                        </mat-form-field>
                    </span>
                    <span class="input input--hoshi">
                        <mat-form-field>
                            <input matInput class="input__field input__field--hoshi" formControlName="repassword" (keyup)="onKey($event)" placeholder="Repeat Password"
                                [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix color="warn" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="registerForm.get('repassword').hasError('required')">This field has to be filled</mat-error>
                        </mat-form-field>
                        <span><p *ngIf="show" style="color:red;font-size:1em">Password does not match</p></span>
                    </span>
                    <div class="cta">
                        <button class="btn btn-primary pull-left" type="submit" (click)="onRegister()" [disabled]="!registerForm.valid">
                            Sign-Up Now
                        </button>
                        <span>
                            <a [routerLink]="['/login/patient']">I am already a member</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>