$topnav-background-color: rgba(0, 0, 0, 0.7);

@media screen and (max-width:990px){
    .bars {
        display: block;
        cursor: pointer;
        padding-top: 20px;
        position: fixed;
        z-index: 3000;
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 235px;
    width: 200px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group {
        a.list-group-item {
            top:56px;
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #fff;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            .fa {
                margin-right: 10px;
            }
        }
        a.list-group-item:hover {
            background: lighten($color: $topnav-background-color, $amount: 5%);
            color: #fff;
            font-size: 1.1em;
            transition: all 0.5s ease-in-out;
        }
        a.list-group-item:hover:nth-child(1){
            border-left:5px solid #2ECC40;
        }
        a.list-group-item:hover:nth-child(2){
            border-left:5px solid #F012BE;
        }
        a.list-group-item:hover:nth-child(3){
            border-left:5px solid #FF4136;
        }
        a.list-group-item:hover:nth-child(4){
            border-left:5px solid #FFDC00;
        }
        a.list-group-item:hover:nth-child(5){
            border-left:5px solid #0074D9;
        }

        a.router-link-active:nth-child(1) {
            background: darken($topnav-background-color, 5%);
            color: #fff;
            border-left:5px solid #2ECC40;
        }
        a.router-link-active:nth-child(2) {
            background: darken($topnav-background-color, 5%);
            color: #fff;
            border-left:5px solid #F012BE;
        }
        a.router-link-active:nth-child(3) {
            background: darken($topnav-background-color, 5%);
            color: #fff;
            border-left:5px solid #FF4136;
        }
        a.router-link-active:nth-child(4) {
            background: darken($topnav-background-color, 5%);
            color: #fff;
            border-left:5px solid #FFDC00;
        }
        a.router-link-active:nth-child(5) {
            background: darken($topnav-background-color, 5%);
            color: #fff;
            border-left:5px solid #0074D9;
        }
        .header-fields {
            padding-top: 10px;
        
            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radius: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: #2E2E2E;
                }
            }
        }
    }
}
    a.list-group-item {
        cursor: pointer;
        color: #fff;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    .expand {
        ul.submenu {
            margin-top: 56px;
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    text-decoration-line: none;
                    padding: 10px;
                    display: block;
                    list-style-type: none;
                }
                a:hover {
                    background: lighten($color: $topnav-background-color, $amount: 5%);
                    font-size: 1.1em;
                    border-bottom:5px solid #fff;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
@media (max-width: 990px) {
        .sidebar {
            display: none;
        }
}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
