<div class="container">
    <div class="bars" (click)="togglebar()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <div class="list-group removeget">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Home' | translate }}
            </a>
            <a [routerLink]="['/patient/appointment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-address-book"></i>&nbsp;{{ 'Appointment' | translate }}
            </a>
            <a [routerLink]="['/patient/query']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;{{ 'Query' | translate }}
            </a>
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-sticky-note"></i>&nbsp;{{ 'Prescription' | translate }}
            </a>
            <a class="list-group-item" [routerLinkActive]="['router-link-active']" (click)="addExpandClass()">
                <span>
                    <i class="fa fa-caret-down"></i>&nbsp; {{ 'More' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu">
                <ul class="submenu animated slideInDown">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-fw fa-history"></i>&nbsp; {{ 'History' | translate }}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-fw fa-table"></i>&nbsp; {{ 'Statistics' | translate }}</a>
                    </li>
                </ul>
            </li>
        </div>
    </nav>
</div>