<div class="w3ls-banner animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="landing-page">
                <div class="form-appointment">
                    <div class="container" id="wpcf7-f560-p590-o1">
                        <form class="wpcf7-form" _lpchecked="1" [formGroup]="appointmentForm">
                            <div class="row group">
                                <div class="col-md-6 col-sm-4" style="float: left;">
                                    <span class="wpcf7-form-control-wrap text-680">
                                        <input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                                            placeholder="Name" value="{{name}}">
                                    </span>
                                    <br>
                                    <span class="wpcf7-form-control-wrap email-680">
                                        <input type="email" name="email-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            aria-required="true" placeholder="Email" value="{{email}}">
                                    </span>
                                    <br>
                                    <span class="wpcf7-form-control-wrap tel-630">
                                        <input type="tel" name="tel-630" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                            aria-required="true" placeholder="Phone" value="{{phone}}">
                                    </span>
                                    <br>
                                    <span class="wpcf7-form-control-wrap textarea-398">
                                        <textarea name="textarea-398" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Special notes, concerns, or requirements"></textarea>
                                    </span>
                                </div>
                                <div class="col-md-6 col-sm-4" style="float: right;">
                                    <h4>What is the best way to reach you?</h4>
                                    <p>
                                        <span class="wpcf7-form-control-wrap radio-98">
                                            <span class="wpcf7-form-control wpcf7-radio">
                                                <mat-radio-group formControlName="radval">
                                                    <mat-radio-button value="phone">Phone</mat-radio-button>
                                                    <mat-radio-button value="email">Email</mat-radio-button>
                                                </mat-radio-group>
                                            </span>
                                        </span>
                                    </p>
                                    <h4>Days of the week you are available for appointment:</h4>
                                    <table style=" margin: 0 auto;">
                                        <tr *ngFor="let day of days">
                                            <th>
                                                <mat-checkbox (change)="onChange(day, $event.checked)"></mat-checkbox>
                                            </th>
                                            <th>{{day}}</th>
                                        </tr>
                                    </table>
                                    <h4>Best time of day for your appointment:</h4>
                                    <p>
                                        <span *ngFor="let time of time">
                                            <mat-checkbox (change)="onTime(time, $event.checked)">{{time}}</mat-checkbox>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div style="text-align: center; padding-top: 2em; margin-top: 1em;">
                                <input type="submit" class="wpcf7-form-control wpcf7-submit" (click)="onRequest()" value="Request My Appointment" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>