.group:after {
    content: "";
    display: block;
    clear: both;
  }
  .landing-page {
    background: rgba(0,0,0,0.4);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background-position: center;
  }
  .w3ls-banner {
	background: url('https://cdn-images-1.medium.com/max/1300/1*RdHmw65n-8wpjQmPdEgnjA.jpeg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background-position: center;
    text-align: center;
}

  
  .form-appointment {
      padding-top: 5em;
      padding-left: 0.5em;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
      font-family: 'PT Sans', Arial, sans-serif;
      margin: 20px auto;
  }
  .form-appointment h4 {
    font-weight: bold;
  }
  .form-appointment input[type=text],
  .form-appointment input[type=email],
  .form-appointment input[type=tel],
  .form-appointment textarea {	
      border: 1px solid rgb(153, 202, 129);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .5em 1em;
      margin: 0 0 1em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  .form-appointment input[type=text],
  .form-appointment input[type=email],
  .form-appointment input[type=tel],
  .form-appointment input[type=submit],
  .form-appointment textarea:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);	
      -webkit-transition: all .2s ease-in-out;
         -moz-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
  }
  
  .form-appointment input[type=text]:active,
  .form-appointment input[type=text]:focus,
  .form-appointment input[type=email]:active,
  .form-appointment input[type=email]:focus,
  .form-appointment input[type=tel]:active,
  .form-appointment input[type=tel]:focus,
  .form-appointment textarea:active,
  .form-appointment textarea:focus {	
    outline: 0;
    box-shadow: 0 0 6px rgb(176, 226, 188);
  }
  
  .form-appointment textarea {
      height: 160px;
  }
  
  .form-appointment input[type=submit] {
      background-color: rgb(118, 207, 118);
      border: 1px solid rgb(134, 189, 134);
      border-radius: 4px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-family: inherit;
      font-size: 1.4em;
      padding: 10px 18px;
  }
  
  .form-appointment input[type=submit]:hover {
      background-color: white;
      color: rgb(118, 207, 118);
  }
  
  .form-appointment .wpcf7-list-item-label {
      color: rgb(130, 178, 136);
  }
  
  span.wpcf7-list-item {
      display: block;
      margin-left: -.02em;
  }
  